.opacity-25 {
  opacity: 0.25;
}
.list-group {
  max-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (min-width: 680px) {
  .list-group {
    max-height: 40rem;
  }
}
